sudo: false
os:
  - linux

dist:
  - trusty

language: rust

matrix:
    include:
        - language: nix
          script:
            - bash ./scripts/find-dead-symlinks
            - bash ./scripts/license-headers-updated
            - bash ./scripts/branch-contains-no-tmp-commits
            - bash ./scripts/version-updated
        - language: rust
          rust: 1.35.0
          cache:
            directories:
              - /home/travis/.cargo
          before_cache:
            - rm -rf /home/travis/.cargo/registry
          script:
            - cargo build --all --all-features -j 1  || exit 1
            - cargo test  --all --all-features -j 1  || exit 1
        - language: rust
          rust: 1.36.0
          cache:
            directories:
              - /home/travis/.cargo
          before_cache:
            - rm -rf /home/travis/.cargo/registry
          script:
            - cargo build --all --all-features -j 1  || exit 1
            - cargo test  --all --all-features -j 1  || exit 1
        - language: rust
          rust: stable
          cache:
            directories:
              - /home/travis/.cargo
          before_cache:
            - rm -rf /home/travis/.cargo/registry
          script:
            - cargo build --all --all-features -j 1  || exit 1
            - cargo test  --all --all-features -j 1  || exit 1
        - language: rust
          rust: beta
          cache:
            directories:
              - /home/travis/.cargo
          before_cache:
            - rm -rf /home/travis/.cargo/registry
          script:
            - cargo build --all --all-features -j 1  || exit 1
            - cargo test  --all --all-features -j 1  || exit 1
        - language: rust
          rust: stable
          name: clippy
          cache:
            directories:
              - /home/travis/.cargo
          before_cache:
            - rm -rf /home/travis/.cargo/registry
          install:
            - rustup component add clippy
          script:
            - cargo clippy --all --all-targets


addons:
  apt:
    packages:
    - libdbus-1-dev
    - pkg-config
    - libclang-dev

notifications:
  email:
    on_success: always
    on_failure: always
  irc:
    channels:
      - chat.freenode.net#imag
    template:
      - "%{repository_name} (%{branch} @ %{commit} by %{author}): %{result}"

